<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>テスト！！！！！！！！！！！！！</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("select * from crops where not give_for = '自家消費';") %>
    <% data = [] %>

    <% result.each do |dates| %>
      <%  data << "自家消費でないゴーヤ:ゴーヤの長さ:#{dates["length"]}ゴーヤの大きさ：#{dates["weight"]} ゴーヤの品質: #{dates["quality"]}売った相手：#{dates["give_for"]}収穫日:#{dates["date"]}" %>
    <% end %>

    <form action="indicate.cgi" method="POST">
      譲渡先が自家消費でないもの<br><br>
      <input type="text"  name="input" value="<%= data.join(' ') %>" ><br>
      <input type="submit" name="送信" >
    </form>

    <% result = connection.exec("select * from crops where quality = 'f';") %>
    <% data = [] %>

    <% result.each do |record| %>
      <%  data << "品質の悪いゴーヤ:ゴーヤの長さ:#{record["length"]}ゴーヤの大きさ：#{record["weight"]} ゴーヤの品質: #{record["quality"]}売った相手：#{record["give_for"]}収穫日:#{record["date"]}" %>
    <% end %>

    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、品質の悪いゴーヤの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>